/**
 * Reset ==============================================================
 * Based on http://meyerweb.com/eric/tools/css/reset
 */

html,
body,

/* Structures */
div,
span,
applet,
object,
iframe,

/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,

/* Lists */
dl,
dt,
dd,
ol,
ul,
li,

/* Forms */
fieldset,
form,
input,
select,
textarea,
label,
legend,

/* Tables */
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  line-height:inherit;
  }

ol,
ul,
.item-list ul,
.item-list ul li {
  list-style:none;
  }

blockquote,
q { quotes:none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content:'';
  content:none;
  }

/* remember to define focus styles! */
:focus { outline:0px; }

/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { text-decoration:line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse:collapse;
  border-spacing:0px;
  }

/**
 * Font reset =========================================================
 *
 * Specifically targets form elements which browsers oftentimes give
 * special treatment.
 */
input,
select,
textarea,
body { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; }

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #1E1E1E;
}

/* Typography */
p {
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  color: #ccc;
}
h2,#about h3 {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  margin-top: 20px;
  font-weight: normal;
}
h3 {
  font-size: 22px;
}
h4 {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}
a {
  color: #7d959f;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
h2 a, h2 a:hover {
  color: inherit;
}

/* Main Layout */
.limiter {
  position: relative;
  margin: 0 auto;
  width: 960px;
}
.col {
  float: left;
}
#map {
  position: absolute;
  top: 125px;
  right: 0;
  left: 0;
  bottom: 0;
}
.zoomer {
  right: 20px;
  top: 20px;
  left: auto;
  border-color: rgb(28,28,28);
}
.zoomer.zoomout {
  right: 49px;
}
#about-btn {
  position: absolute;
  top: 185px;
  right: 20px;
  width: 58px;
  height: 24px;
  z-index: 2;
  background: rgb(28,28,28);
  background: rgba(28,28,28,.7);
  border-radius: 3px;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.modal {
  width: 800px;
  margin: -275px 0 0 -400px;
}
.modal h2 {
  margin: 0;
}
.modal p:first-child {
  margin-top: 0;
}
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  color: #282828;
  height: 125px;
  z-index: 5;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
#header .title {
  position: absolute;
  left: 25px;
  width: 50%;
  min-width: 550px;
  z-index: 15;
}
#header .title p, .modal p {
  color: #333;
}
#headerpic {
  background: url(../img/guardtower.jpg) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 606px;
  height: 125px;
}
#footnav {
  position: relative;
  font-size: .8em;
  margin-bottom: 20px;
}
#footnav .col {
  display: block;
  float: left;
  width: 9.090909%;
}
#footnav .col p {
  line-height: 15px;
  margin-bottom: 5px;
}
#footnav li {
  line-height: 11px;
  margin-bottom: 3px;
}
#nav {
  position: absolute;
  left: 20px;
  top: 145px;
  width: 175px;
  z-index: 5;
  background: rgb(28,28,28);
  background: rgba(28,28,28,.7);
  padding: 5px 5px 3px 5px;
  border-radius: 4px;
}
#nav ul {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#nav ul li a {
  display: block;
  padding: 6px 30px;
  color: #222;
  margin-bottom: 2px;
}
.icon-zoom-in {
  display: none;
  float: left;
  margin-left: -20px;
  margin-top: 2px;
  opacity: .5;
  filter: alpha(opacity=50);
}
#nav ul li a:hover {
  /*background: #3a3531;*/
}
.gradient {
  background: #fff;
  background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eeeeee));
  background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
}
.gradient:hover, #nav ul li a.active {
  background: #d9d7d5;
  background: -ms-linear-gradient(top, #d9d7d5 0%, #c8c6c4 100%);
  background: -moz-linear-gradient(top, #d9d7d5 0%, #c8c6c4 100%);
  background: -o-linear-gradient(top, #d9d7d5 0%, #c8c6c4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d9d7d5), color-stop(1, #c8c6c4));
  background: -webkit-linear-gradient(top, #d9d7d5 0%, #c8c6c4 100%);
  background: linear-gradient(to bottom, #d9d7d5 0%, #c8c6c4 100%);
}
#nav .subnav {
  display: none;
  position: absolute;
  margin-left: 175px;
  margin-top: -34px;
  border-top: 1px solid #111919;
  border-right: 1px solid #111919;
}
#nav .subnav li a {
  display: block;
  padding: 5px 15px;
  font-size: 13px;
  border-left: 5px solid #111919;
  border-bottom: 1px solid #111919;
  width: 125px;
  margin-bottom: 0;
  line-height: 14px;
}

/* Holocaust Site Pages */
#sitepage {
  position: absolute;
  top: 125px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f2f2f2;
}
#sitepage .content {
  position: relative;
  padding: 20px;
  background: #111919;
}
#sitepage .overview {
  position: relative;
  min-height: 300px;
  margin-bottom: 20px;
}
#sitepage .summary {
  position: relative;
  width: 640px;
}
#sitepage #smallmap {
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 256px;
  background: #fff;
  border: 1px solid #666;
}
#sitepage #gallery {
  position: relative;
}
.pix1, .pix2, .pix3 {
  float: left;
  width: 32%;
}
.pix1, .pix2 {
  margin-right: 18px;
}
img.thumb {
  width: 100%;
  margin-bottom: 15px;
}

/* Map Elements */
.marker-popup {
  padding: 10px 12px;
  box-shadow: 2px 2px 5px -2px #000;
  -moz-box-shadow: 2px 2px 5px -2px #000;
  -webkit-box-shadow: 2px 2px 5px -2px #000;
  border: none;
  max-width: 250px;
  line-height: 15px;
}
.marker-popup:before {
  border: none;
}
.marker-description {
  font-size: 11px;
  color: #aaa;
  text-transform: uppercase;
  margin-top: 5px;
}