---
title: Holocaust Sites Today
layout: default
---

<div id='map'></div>
<div id='nav'>
  <ul>
    {% for country in site.countries %}
    <li>
      <a href='#' id='{{country}}'>{{country}}</a>
      <ul class='subnav'>
        {% for x in site.posts reversed %}
        {% if x.category == country %}
        <li><a href='{{country}}/{{x.title | replace:" ","-" }}' id='{{x.place}}'>{{x.place}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
$('#nav ul li a, ul.subnav li a').hover(
    function () {
        if ($(this).parent().parent().hasClass('subnav')) {
            $(this).parent().parent().css('display','block').css('margin-top',-18 - $(this).parent().parent().height()/2);
        } else {
            $(this).next().css('display','block').css('margin-top',-18 - $(this).next().height()/2);
        }
    },
    function () {
        $('ul.subnav').css('display','none');
    }
);

/*
mapbox.auto('map','matt.map-7pq00fdn', function(map) {
    map.setZoomRange(4,8);
});
*/

var m = mapbox.map('map');
m.addLayer(mapbox.layer().id('matt.map-7pq00fdn'));
m.zoom(5).center({ lat: 51.323, lon: 7.421 }).setZoomRange(4,8);

var markerLayer = mapbox.markers.layer();

mapbox.markers.interaction(markerLayer);
m.addLayer(markerLayer);

{% for points in site.posts %}
{% if points.coords %}
markerLayer.add_feature({
    geometry: {
        coordinates: {{points.coords}}
    },
    properties: {
        'marker-color': '#ff0000',
        'marker-symbol': 'star-stroked',
        title: '{{points.place}}',
        description: '{{points.category}}'
    }
});
{% endif %}
{% endfor %}

{% for points in site.posts %}
{% if points.coords %}
$('.simplestyle-marker[alt="{{points.place}}"]')
    .attr('href','{{points.category}}/{{points.title | replace:" ","-" }}');
{% endif %}
{% endfor %}

$('.simplestyle-marker').click(function() {
    window.location = $(this).attr('href');
});

</script>