---
title: Holocaust Sites Today
layout: default
class: home
---

<div id='map'></div>

<div id='nav'>
  <ul>
    {% for country in site.countries %}
    <li>
      <a class='gradient' href='#' id='{{country}}'><span class='icon-zoom-in'></span>{{country}}</a>
      <ul class='subnav'>
        {% for x in site.posts reversed %}
        {% if x.category == country %}
        <li><a class='gradient' href='{{country}}/{{x.title | downcase | replace:" ","-" }}' id='{{x.place}}'>{{x.place}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="modal hide fade" id="about">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>About the Site</h2>
    </div>
    <div class="modal-body">
        {{content}}
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

<script type="text/javascript">
$(function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibWF0dCIsImEiOiJTUHZkajU0In0.oB-OGTMFtpkga8vC48HjIg';
var orig,
    m = L.map('map',{
        center: [53.5, 10],
        zoom: 5,
        attributionControl: false
    }),
    mbLayer = L.mapbox.styleLayer('mapbox://styles/matt/ckmrzzyxw2l5i17nkhljfq6ea');
m.addLayer(mbLayer);

var markerLayer = L.mapbox.featureLayer({
    type: "FeatureCollection",
    features: [
        {
            type: "Feature",
            geometry: {
                type: "Point",
                coordinates: [null,null]
            },
            properties: {}
        }
        {% for points in site.posts %}
        {% if points.coords %}
        ,{
            type: "Feature",
            geometry: {
                type: "Point",
                coordinates: {{points.coords}}
            },
            properties: {
                'marker-color': '#9a2e2e',
                'marker-symbol': 'star-stroked',
                title: '{{points.place}}',
                description: '{{points.category}}'
            }
        }
        {% endif %}
        {% endfor %}
    ]
});

markerLayer.addTo(m);

markerLayer.on('mouseover', function(e) {
    e.layer.openPopup();
});
markerLayer.on('mouseout', function(e) {
    e.layer.closePopup();
});

{% for points in site.posts %}
{% if points.coords %}
$('.leaflet-marker-icon[title="{{points.place}}"]')
    .attr('data-link','{{points.category}}/{{points.title | downcase | replace:" ","-" }}');
{% endif %}
{% endfor %}

$('.leaflet-marker-icon').click(function() {
    window.location = $(this).attr('data-link');
});

document.getElementById('Austria').onclick = function() {
        m.setView({ lat: 47.58, lon: 14.2 }, 7);
    };
document.getElementById('Belarus').onclick = function() {
        m.setView({ lat: 53.7, lon: 27.9 }, 6);
    };
    document.getElementById('Czech Republic').onclick = function() {
        m.setView({ lat: 49.8, lon: 15.5 }, 7);
    };
    document.getElementById('France').onclick = function() {
        m.setView({ lat: 46.6, lon: 2.5 }, 6);
    };
    document.getElementById('Germany').onclick = function() {
        m.setView({ lat: 51.1, lon: 10.5 }, 6);
    };
    document.getElementById('Latvia').onclick = function() {
        m.setView({ lat: 57, lon: 24.6 }, 8);
    };
    document.getElementById('Lithuania').onclick = function() {
        m.setView({ lat: 55.4, lon: 24 }, 7);
    };
    document.getElementById('The Netherlands').onclick = function() {
        m.setView({ lat: 52.3, lon: 5.5 }, 7);
    };
    document.getElementById('Poland').onclick = function() {
        m.setView({ lat: 52.3, lon: 19.6 }, 6);
    };
    document.getElementById('Ukraine').onclick = function() {
        m.setView({ lat: 49.2, lon: 31.5 }, 6);
    };
    document.getElementById('United Kingdom').onclick = function() {
        m.setView({ lat: 51.5, lon: 0 }, 7);
    };

$('#nav ul li a, ul.subnav li a').hover( //turn into just #nav hover?
    function () {
        var that = $(this).parent().parent();
        $('#nav ul li a').removeClass('active');
        
        if (that.hasClass('subnav')) {
            that.css('display','block');
            that.prev().addClass('active');
            orig = $('.leaflet-marker-icon[title="' + this.id + '"]').attr('src');
            $('.leaflet-marker-icon[title="' + this.id + '"]')
                .attr('src','https://api.mapbox.com/v4/marker/pin-m-star-stroked+ff0000@2x.png?access_token=pk.eyJ1IjoibWF0dCIsImEiOiJTUHZkajU0In0.oB-OGTMFtpkga8vC48HjIg');
            var fromTop = $('.leaflet-marker-icon[title="' + this.id + '"]').offset().top;
            $('.leaflet-marker-icon[title="' + this.id + '"]').trigger('mouseover', fromTop);
        } else {
            var fromTop = -18 - $(this).next().height()/2;
            $(this).children('.icon-zoom-in').css('display','block');
            //if ($(this).next().hasClass('on')) {
                $(this).next().css('display','block').css('margin-top',fromTop);
            //} else {
            //    $('ul.subnav').removeClass('on');
            //    $(this).next().fadeIn('fast').css('margin-top',fromTop).addClass('on');
            //}
            
            if ($(this).next().offset().top < $('#nav').offset().top) {
                $(this).next().css('margin-top',-18 - $(this).height()*2);
            }
            if (($(this).next().offset().top + $(this).next().height()) > $(window).height() + 20) {
                $(this).next().css('margin-top',(fromTop - ($(this).next().offset().top + $(this).next().height() - $(window).height() + 20)));
            }
        }
    },
    function () {
        //if ($(this).parent().parent().hasClass('subnav')) {
        //    $('ul.subnav').fadeOut('fast');
        //} else {
            $('ul.subnav').css('display','none');
        //}
        $('.icon-zoom-in').css('display','none');
        $('#nav ul li a').removeClass('active');
        $('.leaflet-marker-icon[title="' + this.id + '"]')
            .attr('src',orig);
        $('.leaflet-marker-icon[title="' + this.id + '"]').trigger('mouseout');
    }
);
});

</script>