---
layout: default
---
{% assign base = site.baseurl %}
<div id='sitepage'>
  <div class='limiter'>
    <div class='content clearfix'>
      <div class='overview clearfix'>
        <div class='col summary'>
          <h3 class='sitename'>{{page.place}}</h3>
          <h4 class='coname'>{{page.category}}</h4>
          {{content}}
        </div>
        <div id='smallmap'>
        </div>
      </div>
      <div id='gallery1' class='gallery clearfix'>
        <div class='pix1'></div>
        <div class='pix2'></div>
        <div class='pix3'></div>
      </div>
      <div id='gallery2' class='gallery clearfix hidden'>
        <div class='pix1'></div>
        <div class='pix2'></div>
        <div class='pix3'></div>
      </div>
    </div>
    <div id='footnav' class='clearfix'>
      {% for country in site.countries %}
        <div class='col'>
          <p>{{country}}</p>
          <ul>
            {% for x in site.posts reversed %}
            {% if x.category == country %}
            <li><a href='{{base}}/{{country}}/{{x.title | downcase | replace:" ","-" }}' id='{{x.place}}'>{{x.place}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      
    </div>
  </div>
</div>

<script>
var photoArray1 = [],
    photoArray2 = [],
    imgid;
{% for p in page.photos %}
  {% if p.set %}
    $('#gallery2').removeClass('hidden');
    {% for item in p.pics %}
      photoArray{{p.set}}.push("{{item}}");
    {% endfor %}
    {% if p.header %}
      $('#gallery{{p.set}}').prepend('<h3>{{p.header}}</h3>');
    {% endif %}
  {% else %}
    photoArray1.push("{{p}}");
  {% endif %}
{% endfor %}

function placephoto(set, pic, id) {
  var g = '#gallery' + set,
      caption = pic.replace('.jpg','').replace("'","\\\'").replace('2000/',''),
      a = '<a href="{{base}}/img/{{page.category}}/{{page.title}}/',
      b = '" class="highslide" onmouseover="showCaption(this)" onmouseout="hideCaption(this)" onclick="return hs.expand(this, { captionText: \'' + caption + '\' })"><img id="img',
      c = '" class="thumb" src="{{base}}/img/{{page.category}}/{{page.title}}/',
      abc = a + pic + b + id + c + pic + '" /><div class="caption3">' + caption + '</div></a>';
      
  if ($(g + ' .pix1').height() <= $(g + ' .pix2').height() && $(g + ' .pix1').height() <= $(g + ' .pix3').height()) {
    $(g + ' .pix1').append(abc);
  } else if ($(g + ' .pix2').height() <= $(g + ' .pix1').height() && $(g + ' .pix2').height() <= $(g + ' .pix3').height()) {
    $(g + ' .pix2').append(abc);
  } else {
    $(g + ' .pix3').append(abc);
  }
}

function wait(imgid) {
  if (!document.getElementById(imgid).complete) {
    setTimeout('wait(imgid)', 100);
  } else {
    loadphoto();
  }
}

var i = 0;
function loadphoto() {
  if (i < photoArray1.length) {
    placephoto(1, photoArray1[i], i);
  } else if (photoArray2) {
    placephoto(2, photoArray2[i - photoArray1.length], i);
  }
  if (i < photoArray1.length + photoArray2.length - 1) {
    imgid = 'img' + i;
    i += 1;
    wait(imgid);
  }
}

loadphoto();

L.mapbox.accessToken = 'pk.eyJ1IjoibWF0dCIsImEiOiJTUHZkajU0In0.oB-OGTMFtpkga8vC48HjIg';

var coords = {{page.coords}},
    sm = L.map('smallmap',{
        center: [coords[1], coords[0]],
        zoom: 4,
        minZoom: 4,
        maxZoom: 4,
        zoomControl: false,
        dragging: false,
        attributionControl: false,
    }),
    mbLayer = L.mapbox.styleLayer('mapbox://styles/matt/ckmrzzyxw2l5i17nkhljfq6ea');

sm.addLayer(mbLayer);

var siteMarker = L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: coords
    },
    properties: {
        'marker-color': '#ff0000',
        'marker-symbol': 'star-stroked'
    }
});

sm.addLayer(siteMarker);

function showCaption(pic) {
    $(pic).children('.caption3').show();
}
function hideCaption(pic) {
    $(pic).children('.caption3').hide();
}
</script>