---
layout: default
---
{% assign base = site.baseurl %}
<div id='sitepage'>
  <div class='limiter'>
    <div class='content clearfix'>
      <div class='overview clearfix'>
        <div class='col summary'>
          <h3 class='sitename'>{{page.place}}</h3>
          <h4 class='coname'>{{page.category}}</h4>
          {{content}}
        </div>
        <div id='smallmap'>
        </div>
      </div>
      <div id='gallery1' class='gallery clearfix'>
        <div class='pix1'></div>
        <div class='pix2'></div>
        <div class='pix3'></div>
      </div>
      <div id='gallery2' class='gallery clearfix hidden'>
        <div class='pix1'></div>
        <div class='pix2'></div>
        <div class='pix3'></div>
      </div>
    </div>
    <div id='footnav' class='clearfix'>
      {% for country in site.countries %}
        <div class='col'>
          <p>{{country}}</p>
          <ul>
            {% for x in site.posts reversed %}
            {% if x.category == country %}
            <li><a href='{{base}}/{{country}}/{{x.title | downcase | replace:" ","-" }}' id='{{x.place}}'>{{x.place}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      
    </div>
  </div>
</div>

<script>
var photoArray1 = [],
    photoArray2 = [],
    imgid;
{% for p in page.photos %}
  {% if p.set %}
    $('#gallery2').removeClass('hidden');
    {% for item in p.pics %}
      console.log({{p.set}});
      photoArray{{p.set}}.push('{{item}}');
    {% endfor %}
    {% if p.header %}
      $('#gallery{{p.set}}').prepend('<h3>{{p.header}}</h3>');
    {% endif %}
  {% else %}
    photoArray1.push('{{p}}');
  {% endif %}
{% endfor %}

function placephoto(set, pic, id) {
  var g = '#gallery' + set,
      caption = pic.replace('.jpg','').replace("'","\\\'"),
      a = '<a href="{{base}}/img/{{page.category}}/{{page.title}}/',
      b = '" class="highslide" onclick="return hs.expand(this, { captionText: \'' + caption + '\' })"><img id="img',
      c = '" class="thumb" src="{{base}}/img/{{page.category}}/{{page.title}}/',
      abc = a + pic + b + id + c + pic + '" /></a>';
      
  if ($(g + ' .pix1').height() <= $(g + ' .pix2').height() && $(g + ' .pix1').height() <= $(g + ' .pix3').height()) {
    $(g + ' .pix1').append(abc);
  } else if ($(g + ' .pix2').height() <= $(g + ' .pix1').height() && $(g + ' .pix2').height() <= $(g + ' .pix3').height()) {
    $(g + ' .pix2').append(abc);
  } else {
    $(g + ' .pix3').append(abc);
  }
}

function wait(imgid) {
  if (!document.getElementById(imgid).complete) {
    setTimeout('wait(imgid)', 100);
  } else {
    loadphoto();
  }
}

var i = 0;
function loadphoto() {
  if (i < photoArray1.length) {
    placephoto(1, photoArray1[i], i);
  } else if (photoArray2) {
    placephoto(2, photoArray2[i - photoArray1.length], i);
  }
  if (i < photoArray1.length + photoArray2.length - 1) {
    imgid = 'img' + i;
    i += 1;
    wait(imgid);
  }
}

loadphoto();

var coords = {{page.coords}};
var sm = mapbox.map('smallmap');
sm.addLayer(mapbox.layer().id('matt.map-7pq00fdn'));
sm.zoom(6).center({ lat: coords[1], lon: coords[0] }).setZoomRange(3,17);

var siteMarker = mapbox.markers.layer();

sm.addLayer(siteMarker);

siteMarker.add_feature({
    geometry: {
        coordinates: {{page.coords}}
    },
    properties: {
        'marker-color': '#ff0000',
        'marker-symbol': 'star-stroked'
    }
});
</script>